@{ Html.RenderPartial("LayoutPartials/Logotype"); }
<div id="nav" class="navbar" role="navigation">
@{ Html.RenderPartial("LayoutPartials/TopNavigation"); }
</div>
@{ Html.RenderPartial("LayoutPartials/SubNavigation"); }
