@import "../lib/bootstrap-3.0.3/css/bootstrap.min.css";
@import "../lib/bootstrap-3.0.3/css/bootstrap-theme.min.css";

#nav {
	margin-bottom:15px;
}

ul.nav li a.logotype {
	padding:0 20px;
}
	ul.nav li a.logotype img {
		height:50px;
		width:auto;
	}
		ul.nav li ul {
			list-style-type:none;
		}

	/*ul.nav #searchform .input-group{
		float:left;
	}*/
.navbar-brand, .navbar-nav>li>a {
text-shadow: none;
}	
.navbar-nav.level1 {
font-weight: bold;
font-size: 16px;
}
.navbar-nav.level1 > li.active > a {
	color: #ffffff;
	background: #428BCA;
}

.navbar-collapse {
	border-bottom: 1px solid #eeeeee;
	padding:0;
}

.logoContainer {
margin: 15px 15px 15px 0;
}

#main > img { margin: 0 15px; }

.part {
	margin-bottom:15px;
}

.carousel-caption a {
	color:#fff;
	text-shadow:1px 1px 3px #000;
}
/*
.content h3 a {
	color:#333;
}
*/

/*
.contentlink .img {
	float:left;
	margin:20px 10px 10px 0;
}
*/

.carousel .part {
	margin-bottom:0;
}

.carousel .contentlink .img {
	margin:0;
}

td {
	vertical-align:top;
}

#footer ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

/*
@import "Layout.css";
@import "Elements.css";
@import "Features.css";
@import "Mood.css";
*/


.part.teaser .contentlink .img {
	display: block;
	float: none !important;
	margin-right: 0;
}
.part.teaser .contentlink .media-body {
	display: block;
	margin: 15px 0;
}
.part.listing .media {
margin: 0 0 20px 0;
}

#main .wide {
	max-width: 100%;
	height: auto;
	margin: 0;
}


@media (max-width: 767px) {

.topNavContainer {
	padding:0 15px;
}
.nav-pills>li {
float: none;
display: block;
}
.navbar-collapse {
padding-right: 15px;
padding-left: 15px;
}
.navbar-toggle {
color: #222222;
-webkit-border-radius: 0px;
border-radius: 0px;
background: #ffffff;
float: none;
display: block;
width: 100%;
text-align: right;
}
.navbar-toggle .linesContainer {
display: inline-block;
margin: 0 0 0 10px;
}	
.navbar-toggle .icon-bar {
	-webkit-border-radius: 0px;
border-radius: 0px;
background-color: #222222;
}
.navbar-toggle .buttonText {
	text-transform: uppercase;
}
.part.teaser .contentlink .carousel-caption {
	position: static;
	background:#222222;
	margin:0;
}
.carousel-control, .carousel-indicators {
	display: none;
}


}

@media (max-width: 991px) {
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	
}


@media (min-width: 992px) and (max-width: 1199px) {
	
	
}